[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-cov = "*"
autopep8 = "*"
mypy = "*"
lark-parser = "*"
ruamel-yaml = "*"
networkx = "*"
matplotlib = "*"

[dev-packages]

[requires]
